<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Traffic sign detection</title>
    <link rel="stylesheet" href="/static/Home.css">
</head>
<body id="animate">
    <nav>
        <ul>
          
          <li><a href="login.html">Login</a></li>
          <li><a href="register.html">Register</a></li>
          <li><a href="dataset.html">Dataset_Distribution</a></li>
          <li><a href="performance.html">Performance_Analysis</a></li>
          </ul>
    </nav>
    <h1 class="moving-text"><b>Real Time Traffic Sign Detection <br>
     And Voice Assistance System</b></h1>
</body>
</html>